extends layout

block content
  #header.center.center_in
  h1.center_in Your Best App!
  h2.center_in Made by Przemyslaw Pomiechowski
  #shop_view.center
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')
    .product
      img.product_img(src='/images/products/1.jpg')
      h3.product_title Budynki mordoru, 23.99zl
      p.product_desc
        | This work is a phantasmagoric, urban world in which death and waste are omnipresent consisting of appropriated internet footage.
      .spacer(style='clear: both;')