extends layout

block content
  #header.center.center_in
  h1.center_in Your Best App!
  h2.center_in Made by Przemyslaw Pomiechowski
  #shop_view.center
    each product in products
      .product
        img.product_img(src=product.img)
        h3.product_title= product.name + ", " + product.price + "zl"
        p.product_desc= product.desc
        .spacer(style='clear: both;')