html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.center {
  margin: 0 auto;
  width: 800px;
}

.center_in {
  text-align: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 50pt;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 14pt;
}

#shop_view {
  margin-top: 30pt;
  width: 40%;
  max-height: 500px;
  height: 500px;
  overflow-y: auto;
  display: block;
}

.product {
  padding: 10pt;
  background-color: white;
  margin-top: 10pt;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.product_img {
  width: 100px;
  height: 100px;
  float: left;
}

.product_title {
  float: right;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.product_desc {
  float: right;
  width: 60%;
  display:inline;
  text-align: right;
}